<div class="login-function">
  <div class="inside-login-function">
    <span class="material-symbols-outlined close-login">
      close
    </span>
    <div class="login-function-title">
      <h1>LOGIN</h1>
    </div>
    <div class="login-input-field">
      <form action="#">
        <div class="emaildiv">
          <label for="emailadd">Username</label>
          <input type="text" id="input-emailadd">
        </div>
        <div class="passdiv">
          <label for="passwd">Password</label>
          <input
            type="password"
            name=""
            id="input-passwd">
        </div>
        <div class="remmberme">
          <input type="checkbox" class="remmberme-check">
          <label for="remmberme-check">Remember me</label>
        </div>
      </form>
      <button id="signIn-btn">Sign in</button>
    </div>
    <div class="or">
      <div class="left-line"></div>
      <span>OR</span>
      <div class="right-line"></div>
    </div>
    <div class="other-login">
      <a href="#"><img
          class="facebookIcon"
          src="{{'facebook-icon.png' | asset_url}}"
          alt="Facebook Icon"></a>
      <a href="#"><img
          class="twitterIcon"
          src="{{'twitter-icon.png' | asset_url}}"
          alt="Twitter Icon"></a>
      <a href="#"><img
          class="googleIcon"
          src="{{'google-icon.png' | asset_url}}"
          alt="Google Icon"></a>
    </div>
    <div class="links">
      <a href="#" class="frgetPass">
        Forgot your password?
      </a>
      <span>Don't Have an Account?
        <a href="#" clas="creatAcct">Create Account</a>
      </span>
    </div>
  </div>
</div>