<div class="slide-track">
  <div class="slide">
    <h3>
      <span class="material-symbols-outlined">
        footprint
      </span>
      Essential Comfort
    </h3>
  </div>
  <div class="slide">
    <h3>
      <span class="material-symbols-outlined">
        auto_fix
      </span>Unique and Aesthetic
    </h3>
  </div>
  <div class="slide">
    <h3>
      <span class="material-symbols-outlined">
        star_rate
      </span>High Quality</h3>
  </div>
  <div class="slide">
    <h3>
      <span class="material-symbols-outlined">
        footprint
      </span>
      Essential Comfort
    </h3>
  </div>
  <div class="slide">
    <h3>
      <span class="material-symbols-outlined">
        auto_fix
      </span>Unique and Aesthetic
    </h3>
  </div>
  <div class="slide">
    <h3>
      <span class="material-symbols-outlined">
        star_rate
      </span>High Quality</h3>
  </div>
  <div class="slide">
    <h3>
      <span class="material-symbols-outlined">
        footprint
      </span>
      Essential Comfort
    </h3>
  </div>
  <div class="slide">
    <h3>
      <span class="material-symbols-outlined">
        auto_fix
      </span>Unique and Aesthetic
    </h3>
  </div>
  <div class="slide">
    <h3>
      <span class="material-symbols-outlined">
        star_rate
      </span>High Quality</h3>
  </div>
  <div class="slide">
    <h3>
      <span class="material-symbols-outlined">
        footprint
      </span>
      Essential Comfort
    </h3>
  </div>
</div>


{% schema %}
  {
    "name": "Line Section",
    "class": "slider",
    "settings": [
      {
        "type": "color",
        "id": "body_text",
        "label": "Background Color"
      }
    ],
    "presets": [
      {
        "name": "Line Section"
      }

    ]
  }
{%endschema%}