<style>
  .catalog-container {
    position: relative;
    margin-bottom: 40px;
  }
</style>
<div class="catalog-container">
  {% render 'collection-filter' %}
  {% render 'collection-sort' %}
</div>


{{ 'collection-sort.js' | asset_url | script_tag }}
{{ 'collection-filter.js' | asset_url | script_tag }}

{% schema %}
  {
    "name": "Products Section",
    "class": "product-container",
    "presets": [
      {
        "name": "product Section"
      }
    ]
  }
{% endschema %}