<style>
  .product-banner {
    margin: 68px auto 37px;
    width: 93%;
    height: 166px;
  }
  .bannerimg {
    background-image: url('{{ section.settings.Bannerimg | img_url: '1200x1200' }}');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bannerimg h1 {
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    line-height: 82px;
    text-shadow: 3px 3px 0 hsla(202, 27%, 14%, 1);
  }
</style>

<div class="bannerimg">
  <h1>Products</h1>
</div>


{% schema %}
  {
    "name": "Products Banner",
    "class": "product-banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "Bannerimg",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Product Banner"
      }

    ]
  }
{% endschema %}