/* This is the Beginning of the Style of Main Heading  */

.header{
    /* background-color: none; */
    min-width: 380px;
    position: fixed;
    z-index: 20;
    width: 100%;
    max-height: 240px;
    transition: background-color 0.2s,  box-shadow 0.2s ease-in-out, margin-top 0.1s !important;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.62px 44px 0;
}
.button--darkmode.mobile-view {
  padding-left: 27px;
}

.header-wrapper--left, .header-wrapper--right {
  display: flex;
  align-items: center;
}

.header-wrapper--right{
 flex-direction:row-reverse;
 margin-bottom: 2px;
}
.navmenu-dropdown{
    transition: background-color 0.5s,  box-shadow 0.5s ease-in-out
}
header.scrolled {
    border-bottom: none;
    margin-top: -50px;
}
.header.scrolled > .navmenu-dropdown {
    box-shadow: 0 7px 7px #00000070;
  }


/* Hamburger menu animation */




/* Navbar */
.navbar{
  padding: 0px !important;
  margin: 0 20px !important;
}
.navbar ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 0px;
}
.navbar ul li{
    margin-right: 30px;
}




/* Cart Icon */
span.material-symbols-outlined{   
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.toggle{
    display: none;
    height: 30px;
}

.navmenu-dropdown{
    display:none;
}


.navmenu-dropdown ul{
    list-style-type: none;
    padding: 0px;
}


.navmenu-dropdown ul li a{
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    padding-left: 29px;
}



.logo-header {
  margin-bottom: 13px;
}
h2.store-title {
    font-family: 'Oswald','sans-serif';
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 0 !important;
}
.navbar ul li a {
  text-decoration: none;
  font-family: Roboto,sans-serif;
  font-weight: 500;
}

/* Toggle Positioning */
.toggle .material-symbols-outlined {
    margin-right: 12%;
}
/* Buttons Positioning */
.buttons {
  display: flex;
  justify-content: flex-end;
  min-width: 126px;
}
span.material-symbols-outlined.search-right.search, span.material-symbols-outlined.person {
    padding-right: 8%;
}
span.material-symbols-outlined.bag, span.material-symbols-outlined.person {
    margin-left: 8%;
}

/*  This is the Beginning of the Features Style of Heading.liquid */
.navbar-icon {
    cursor: pointer;
    transition: all 0.3s linear;
}
.navbar-icon:hover{
    transform: scale(1.3);
}
.person:hover{
    padding-right: 0% !important;
    margin-right: 8%;
}





/* This is the Beginning of the Search Open Div Design */
.search-function {
    display: none;
    position: absolute;
    top: 0;
    height: 1000px;
    width: 100vw;
    min-width: 380px;
}
.top {
    height: 9%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.top input {
    width: 41%;
    height: 46%;
}


.top input[type=text] {
    padding-left: 10px;
    font-family: 'Roboto';
    border: none;
    border-bottom: 1px solid black;
}
.top input[type=text]:hover {
    border: none;
    border-bottom: 2px solid black;
}
.top input[type=text]:focus {
    outline: none;
}
.top .inside-search {
    position: absolute;
    right: 31%;
    top: 33px;
    font-size: 26px;
    padding-right: 8px;
    cursor: pointer;
}
.search-function span.material-symbols-outlined.close-search {
    font-size: 32px;
    font-weight: 300;
    padding-left: 5px;
    cursor: pointer;
}
.search-function span.material-symbols-outlined.inside-search.search {
    background: white;
}
.bottom {
    height: 90%;
    background-color: rgba(0, 0, 0, 0.563);
}

/* This is the Beginning of Login div Function  Design*/
.login-function {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #0000008f;
    top: 0;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    min-width: 380px;
}
.inside-login-function {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 417px;
    height: calc( 100vh - 79px);
    border-radius: 17px;
    min-height: 542px;
}
/*Label*/
.emaildiv label,
.passdiv label {
    display: block;
}
span.close-login {
    position: absolute;

    top: 26px;
    font-size: 31px;
    padding: 11px;
    border-radius: 28px;
    cursor: pointer;
    background-color: white;
}

 /*Login Title*/
.login-function-title {
    margin-top: 12%;
    margin-bottom: 9%;
    font-family: 'Liberation', 'sans-serif';
}


/*Input Fields*/
.emaildiv {
  margin-bottom: 13px;
}
input#input-emailadd,
input#input-passwd {
    width: 294px;
    height: 38px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}
input#input-emailadd:hover,
input#input-passwd:hover {
  border-bottom: 2px solid;
}
input#input-emailadd:focus,
input#input-passwd:focus {
    border-bottom: 2px solid;
}
/*Remember me Check Box*/
.remmberme {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 21px;
    margin-bottom: 16px;
}
.remmberme label {
    display: block;
    padding-left: 9px;
}
/*Sign in Button*/
button#signIn-btn {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    background: #000000;
    margin-bottom: 10px;
}
button#signIn-btn:hover {
    background: #252525;
}
                                /*OR*/
.or {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}
.or .left-line,
.or .right-line {
    width: 110px;
    border-bottom: 1px solid;
}
                                /*Links*/
.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}
.links a {
    text-decoration: none;
}
/*Icons*/
.other-login {
    margin-top: 2%;
}
img.facebookIcon {
    width: 35px;
}
img.twitterIcon {
    width: 32px;
    margin: 0 25px;
}
img.googleIcon {
    width: 29px;
}
/* Cart div Function Design  */
.cart-value {
    display: none;
    width: 453px;
    height: 100vh;
    background: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    border-radius: 29px 0px 0px 29px;
    box-shadow: -6px 1px 28px 0px rgba(0,0,0,0.75);
}
span.material-symbols-outlined.close-cart {
    position: absolute;
    top: 18px;
    right: 10px;
    font-size: 33px;
    cursor: pointer;
}
.cart-counter {                         /*Box of Cart counter*/
    padding: 20px 37px;
}
.cart-counter span {                    /*Cart Value Make Dynamic*/
    font-weight: 400;
    font-size: 19px;
}
.cart-value .seperator {                /*Seperator For Cart*/
    width: 91%; 
    border-bottom: 1px solid black;
    margin-left: 7%;
}
.cart-Empty svg{
    fill:black;
  }
                                    /* When Cart is Empty */
.cart-Empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 86%;
}
.cart-Empty svg {
    fill: #000;
    margin-top: 42%;
    width: 100px;
    height: 100px;
    margin-bottom: 41px;
}
.cart-Empty span {
    line-height: -2;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 16px;
}
a.start-shop {
    text-decoration: none;
    color: white;
    background: black;
    padding: 15px 32px;
    border-radius: 27px;
}
a.start-shop:hover {
  color: black;
  background: white;
  border: 1px solid black;
}
.start-shop a:hover {
    color: white;
    background: #1c1c1c;
}
/*Start of Cart With Item inside */
.cart-value-container {
    height: 441px;
    overflow: hidden;
  }
  .cart-inside {
    display: flex;
    height: 110px;
  }
  .cart-value-img img {
    min-width: 88px;
    max-height: 91px;
    border-radius: 15px;
  }
  .cart-value-img {
    margin: 16px 7px 16px 34px;
  }
  .cart-value-info {
    display: flex;
    flex-direction: column;
    min-width: 161px;
    padding-top: 14px;
    margin-left: 9px;
  }


  h2.itemTitle {
    font-size: 22px;
  }
  p.itemDesc {
    margin-bottom: 13px;
    font-size: 11px;
  }
  .counter-container {
    display: flex;
  }
  .counter {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 9px;
  }
  span.material-symbols-outlined.add {
    padding-right: 10px;
    cursor: pointer;
    color: #000000;
  }
  span.item-number {
    width: 13px;
    display: flex;
    justify-content: center;
    color: black;
  }
  span.material-symbols-outlined.remove {
    padding-left: 10px;
    color: black;
    cursor: pointer;
  }
  span.material-symbols-outlined.delete {
    margin-left: 20px;
    color: red;
    cursor: pointer;
  }

  .price-container {
    margin-left: 64px;
    padding-top: 15px;
    min-width: 75px;
  }

  .end-of-cart {
    border-top: 1px solid grey;
    padding-top: 10px;
  }
  .top-end {
    display: flex;
    justify-content: space-evenly;
  }
  .total-text h3 {
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
  }
  .total-text span {
    font-size: 15px;
  }
  .total-number {
    display: flex;
    justify-content: center;
    min-width: 75px;
  }
  .bottom-end {
    display: flex;
    justify-content: space-evenly;
  }
  a.view-cart {
    text-decoration: none;
    background: #303c43;
    color: white;
    padding: 11px 28px;
    border-radius: 25px;
    font-weight: 500;
    margin-top: 19px;
  }
  a.checkout {
    text-decoration: none;
    color: white;
    font-weight: 500;
    background: #3f72e5;
    padding: 12px 76px;
    border-radius: 38px;
    margin-top: 19px;
  }
  /* Cart Heading Style */
  .cart-value-container {
    height: 441px;
    overflow: hidden;
  }
  .cart-inside {
    display: flex;
    height: 110px;
  }
  .cart-value-img img {
    min-width: 88px;
    max-height: 91px;
    border-radius: 15px;
  }
  .cart-value-img {
    margin: 16px 7px 16px 34px;
  }
  .cart-value-info {
    display: flex;
    flex-direction: column;
    min-width: 161px;
    padding-top: 14px;
    margin-left: 9px;
  }
  h2.itemTitle {
    font-size: 22px;
  }
  p.itemDesc {
    margin-bottom: 13px;
    font-size: 11px;
  }
  .counter-container {
    display: flex;
  }
  .counter {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 9px;
  }
  span.material-symbols-outlined.add {
    padding-right: 10px;
    cursor: pointer;
    color: #000000;
  }
  span.item-number {
    width: 13px;
    display: flex;
    justify-content: center;
    color: black;
  }
  span.material-symbols-outlined.remove {
    padding-left: 10px;
    color: black;
    cursor: pointer;
  }
  span.material-symbols-outlined.delete {
    margin-left: 20px;
    color: red;
    cursor: pointer;
  }

  .price-container {
    margin-left: 64px;
    padding-top: 15px;
    min-width: 75px;
  }

  .end-of-cart {
    border-top: 1px solid grey;
    padding-top: 10px;
  }
  .top-end {
    display: flex;
    justify-content: space-evenly;
  }
  .total-text h3 {
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
  }
  .total-text span {
    font-size: 15px;
  }
  .total-number {
    display: flex;
    justify-content: center;
    min-width: 75px;
  }
  .bottom-end {
    display: flex;
    justify-content: space-evenly;
  }
  a.view-cart {
    text-decoration: none;
    background: #303c43;
    color: white;
    padding: 11px 28px;
    border-radius: 25px;
    font-weight: 500;
    margin-top: 19px;
  }
  a.checkout {
    text-decoration: none;
    color: white;
    font-weight: 500;
    background: #3f72e5;
    padding: 12px 76px;
    border-radius: 38px;
    margin-top: 19px;
  }
  .mobile-view{
    display: none;
  }