/* HEADER */
  @media (min-width:1000px) {
    span.close-login{
      right: 200px;
    }
    .header-wrapper{
      padding: 5px 25px;
    }
  }

  @media (min-width:990px ){
    .navmenu-dropdown {
      display: none !important;
    }
  }
  @media (max-width: 989px) {
    .header-wrapper--left{
      justify-content: center;
      margin-left: 165px;
    }
    .search-right, .navbar, .first-break {
      display: none !important;
    }
    .toggle {
      display: flex;
    }
    .button--darkmode{
    margin-right: -45px !important;
    }
    .toggle .material-symbols-outlined {
      margin-right: 35%;
    }
    li.navbar-dropdown.toggle-dropdown {
      padding-left: 29px;
      font-weight: 700 !important;
    }
    .link--inside--toggle {
        display: none;
        padding-left: 35px;
    
    }
    .navmenu-dropdown ul > * {
        margin-top: 10px;
    }
    .link--inside--toggle > * {
        margin-top: 5px;
    }
    .navmenu-dropdown {
      padding-left: 18px;
    }
    .navmenu-dropdown ul {
      margin-bottom: 0;
  }
  .button--darkmode.mobile-view {
    display: none;
  }
}

  @media (max-width:735px){
    .desktop-view {
      display: none !important;
    }
    .header-wrapper--left{
      margin-left: 81px;
    }
    .mobile-view {
      display: flex;
    }
    .button--darkmode.mobile-view {
      display: flex;
    }
  }
  @media (max-width: 499px){
    .header-wrapper--left {
        justify-content: center;
        margin-left: 0;
    }
    .buttons {
        min-width: 0px;
    }
  }
      


























/* BANNNER SECTION */
@media (max-width:960px) {
    .swiper .pause, .swiper .play{
      right: calc(100vw - 57vw);
    }
  }  
  @media (max-width:790px) {
    .swiper .pause, .swiper .play{
      right: calc(100vw - 56vw);
    }
  }  
  @media (max-width:690px) {
    .swiper .pause, .swiper .play{
      right: calc(100vw - 58vw);
    }
  }  
  @media (max-width:590px) {
    .swiper .pause, .swiper .play{
      right: calc(100vw - 59vw);
    }
  }  
  @media (max-width:490px) {
    .swiper .pause, .swiper .play{
      right: calc(100vw - 62vw);
    }
  }  
  @media (max-width:390px) {
    .swiper .pause, .swiper .play{
      right: calc(100vw - 65vw);
    }
  }  

  @media(max-width:700px) {
    .sales-container {
      flex-direction: column;
      flex-direction: column-reverse;
    }
    .left {
      padding-right: 60px;
      align-items: center;
    }
    .item-desc,
    .item-selled {
      text-align: center;
    }
    p.sale-desc {
      padding-right: 0;
      text-align: center;
    }
  }