@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --list-collection: ;
}

*{
    box-sizing: border-box;
}

html, body{
    padding:0px;
    margin:0px;
}



/* Banner */
.banner {
  min-width: 380px;
  height: 78vh;
  padding: 0 10px ;
  margin: 75px 0 22px;
}

.swiper, .swiper-container {
  border-radius: 15px;
}

.banner .swiper{
    min-width: inherit;
    height: 100%;
}
.one{
    background: url(https://cdn.shopify.com/s/files/1/0743/0334/0829/files/felipepelaquim-6zO5VKogoZE-unsplash.jpg?v=1684909972);
}
.two{
  background:url(https://cdn.shopify.com/s/files/1/0743/0334/0829/files/domino-164_6wVEHfI-unsplash.jpg?v=1684907656);
}
.three
{
    background:url(https://cdn.shopify.com/s/files/1/0743/0334/0829/files/malvestida-DMl5gG0yWWY-unsplash.jpg?v=1684910040);
}
.four{
  background:url(https://cdn.shopify.com/s/files/1/0743/0334/0829/files/apostolos-vamvouras-YQbJLyY0hFU-unsplash.jpg?v=1684910187);
}

.banner .swiper-slide{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.overlay{
    min-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top: -60px;
}
.banner-title{
    margin-top: 200px;
    font-size: 46px;
    letter-spacing: -1px;
    line-height: 60px;
    font-weight: 700;
    font-family: 'Montserrat','sans-serif';

    text-transform: uppercase;
    text-align: center;
}

.banner-desc{
    font-size: 16px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Montserrat','sans-serif';
}
.banner-title, .banner-desc, .shop-btn{
    z-index:20;
}
/* Button */
.shop-btn {
    text-decoration: none;
    border: 2px solid;
    font-size: 16px;
    line-height: 3;
    font-family: Poppins;
    font-weight: 700;
    padding: 0px 23px !important;
}

.button{
    padding: 0px 20px; 
    position: relative;
    transition-timing-function: ease-in-out;
    width: 130px;
    white-space: nowrap;
    transition: width 0.08s ease-in;
    display: flex;
    border-radius: 25px;
}

.button:hover{
    width: 180px;
}

.shop-btn:hover{
    width: 180px;
}

.button .material-symbols-outlined.arrow-btn{
    display: none;
    position: absolute;
    top: 18%;
    right: 15%;
    transform: translateY(25%);
 }

.button:hover .material-symbols-outlined.arrow-btn {
    display: block; /* Show arrow symbol on hover */
}

.swiper .pause, .swiper .play{
    z-index: 200;
    position: absolute;
    object-fit: scale-down;
    bottom: 6px;
    right: calc(100vw - 56vw);
    cursor: pointer;
  }
  .swiper .play{
    display: none;
  }
  .swiper-image{
    width: 100%;
  }
  .swiper-fade .swiper-slide-active, .swiper-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: none !important;
}






/* Title and Description */


.banner .swiper-slide{
    display: block;
    max-width: 100%;
    height: 100%;
    opacity: 1;
    transform: translateX(-100%) translateY(-60%);
}


/* Finished Banner */


/* -----------------Line Section------------- */
.slider {
    min-width: 380px;
    height: 55px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    display: flex;
  }
  .slide-track {
    display: flex;
    width: calc(250px * 10);
    animation: scroll 40s linear infinite;
  }

  .slide-track:hover {
    animation-play-state: paused
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 5));
    }

  }



  .slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
  }
  .slide h3 {
    width: 100%;
    display: flex;
    white-space: nowrap;
    transition: transform 1s;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }


/* ---------------Featured Collection ------------ */





/* --------------------------Sale Section---------------------------- */

  .shop-now-btn {
    white-space: nowrap;
    text-decoration: none;
    color: white;
    background-color: #1A1A1A;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    width: 146px;
    transition: width 0.1s ease-in;
    border-radius: 27px;
  }

  .arrow-btn {
    padding-left: 30px;
    transition: padding-left 0.2s ease-in;
  }


/* Collection */

.collection {
    min-width: 380px;
    height: 100vh;
  }
  .collection-container {
    min-width: 380px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid-container {
    height: 80%;
    min-width: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3%;
  }
  .grid-item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .grid-item:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    height: 205%;
    width: 100%;

  }
  .grid-item:nth-child(2),
  .grid-item:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    height: 100%;
  }
  .grid-item {
    display: flex;
    position: relative;
    overflow: hidden;
  }
  .grid-item a img {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    transition: transform 3s ease;
  }
  .grid-item a {
    text-decoration: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .grid-item a h2 {
    z-index: 1;
    color: white;
    font-size: 45px;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.9);
  }

  .grid-item a img:hover {
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.226);
  }

@media (max-width:600px) {
    
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
    .grid-item:nth-child(1) {
        width: 206%;
        height: 100%;
        grid-row: 1;
    }
    .grid-item:nth-child(2) {
        grid-row: 2;
        grid-column: 1;
    }
    .grid-item:nth-child(3) {
        grid-row: 2;
    }
}







/* -----------------Parallax Section----------- */
.parallax_banner {
    min-width: 380px;
  }

  .banner-area {padding: 40px;
width: 100%;
margin: 20px auto;
}
.banner-area:after,
.banner-area:before {
content: "";
display: table;
}
.banner-area:after {
clear: both;
}

.parallax-swiper-container {
overflow: hidden;
width: 80%;
height: calc(100vh - 120px);
float: left;
transition: opacity 0.6s ease, transform 0.3s ease;
}
.main-slider .swiper-image {
width: 100%;
height: 100%;
}
.swiper-image-inner {
background-size: cover;
background-position: center center;
padding: 70px;
display: flex;
flex-direction: column;
justify-content: center;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.2);
background-blend-mode: hue;
}

.banner-content {
font-size: 24px;
max-width: 600px;
line-height: 1.4;
color: #fff;
}
.banner-content h2 {
font-size: 40px;
margin: 0 0 10px;
}
.banner-content p {
margin: 0
}
.swiper-slide {
overflow: hidden;
}

.slide-bgimg {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
margin: 0;
background-position: center;
background-size: cover;
background-color: rgba(0, 0, 0, 0.6);
background-blend-mode: hue;
transition: all 0.5s ease-out;

padding: 10px 20px;
color: #fff;
display: flex;
align-items: center;
font-size: 20px;
text-transform: uppercase;
}
.parallax-swiper-container.thumb-slider {
width: 20%;
padding-left: 5px;

}
.parallax-swiper-container.thumb-slider .swiper-slide {
cursor: pointer;
}
.swiper-slide.swiper-slide-active .slide-bgimg {
background-color: transparent;
}
.content {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;

}




















